openspec/changes/archive
.rtk
AGENTS.md
RTK.md
.codex
.qwen
.direnv
.pi
.agents

design/**/*.webp
design/**/*.png
design/**/*.jpg
design/project/.thumbnail

node_modules
dist
src-tauri/target
src-tauri/gen
result
